<div class="project-info-container">
    <div class="info-card">
        <h2>Sobre Mí</h2>
        <p>
            <strong>Mi nombre es David</strong>, soy estudiante de <strong>2º de DAW</strong> y este proyecto es el 
            <strong>proyecto final de Entorno Cliente</strong>. Siempre me ha apasionado el mundo de la informática, 
            y aunque al principio pensé que la programación era algo complejo y áspero (y así fue durante el comienzo), 
            con el tiempo he descubierto que me gusta. 
        </p>
        <p>
            <strong>Los proyectos, una vez les vas pillando el tranquillo, son emocionantes</strong>. Me interesan mucho 
            las tecnologías y, como explicaré en la parte del proyecto, este ha sido un proyecto divertido de investigación 
            sobre <strong>Angular</strong>, su modularidad (<strong>app-routing</strong>) y cómo, a partir de un 
            simple archivo de texto (<strong>JSON</strong>), podemos construir algo tan interesante.
        </p>
        <p>
            <strong>Acceso a mi: </strong>  
            <a href="https://github.com/dmarlop" target="_blank" class="github-link"> GitHub</a>
        </p>
    </div>

    <div class="info-card">
        <h2>Sobre el Proyecto</h2>
        <p>
            El proyecto ha sido <strong>muy interesante</strong>, aunque al principio me costó entrar en la tecnología y 
            comprenderla desde cero. A veces <strong>Angular no es intuitivo</strong>, y no ayudan mucho los vídeos que 
            datan de hace 1, 2 o incluso 4 años.
        </p>
        <p>
            Aunque en su desarrollo me he apoyado en la <strong>inteligencia artificial</strong> (recordemos que ha sido 
            un proyecto de <strong>investigación autónoma</strong>), he comprendido, si no todas, <strong>el 99% de las líneas 
            de código</strong> que he escrito en mi proyecto. Sé qué hacen, sé por qué están ahí y sé qué sucede si las 
            quitas o por qué funcionan al agregarlas.
        </p>
        <p>
            <strong>Angular es modular</strong>, lo que permite conectar y desconectar partes de la aplicación según 
            se necesiten gracias a los <strong>componentes</strong>. Es una herramienta interesante y potente que me 
            ha gustado investigar.
        </p>
    </div>
</div>

